//RWD
@mixin mb {
  @media (max-width: 992px) {
    @content;
  }
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

a {
  color: inherit;
  display: inline-block;
}

//-------------Border-Radius--------------------
//左上大圓角
.rounded-left-top-248 {
  border-radius: 248px 20px 20px 20px;
}

//右上大圓角
.rounded-right-top-248 {
  border-radius: 20px 248px 20px 20px;
}

//直立圓柱型卡片
.rounded-cylinder {
  border-radius: 250px 250px 20px 20px;
}

//平行圓柱形裝飾
.rounded-cylinder-left {
  border-radius: 0 240px 240px 0;
}

//平行圓柱形裝飾
.rounded-cylinder-right {
  border-radius: 240px 0 0 240px;
}

//footer圓角
.rounded-footer {
  border-radius: 0 320px 0 0;
  @include mb{
    border-radius: 0;
  }
}

// btn-reservation
.btn-custom{
  width: 320px;
  background-color: #F5DCD780;
  padding: 12px 24px;
  border: none;
  border-radius: 8px;
  i{
    position:absolute;
    top: 50%;right: 20px;
    transform: translateY(-50%);
  }
  &-dot::before{
    content: '';
    position: absolute;
    top:50%;
    transform: translateY(-50%);
    left: 10px;
    background-color: black;
    width: 6px;
    height: 6px;
    border-radius: 50%;
  }
}
